* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}

/* ANCHOR general tags */
i {
    color: #b0b1b3;
    font-size: 1.3em;
    margin: 0 8px;
}

/* ANCHOR utilities */
.text-small {
    font-size: 0.8em;
}

.text-underlined {
    text-decoration: underline;
}

.text-gray {
    color: dimgrey;
}

.currentChat {
    background-color: #d5d5e2;
}

/* sfondo con due colorazioni */
#container {
    height: 100vh;
    background-image: 
        linear-gradient(to bottom,
        #009688 0px,
        #009688 15vh,
        #dddbd1 15vh,
        #d2dbdc 100%);
    
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* contenitore generale delle due colonne */
#main {
    width: 85%;
    background-color: #fff;
    display: flex;
    height: 100%;
}

/* contenitore di sinistra dove sono contenute le chat */
#colSx {
    width: 35%;
    display: flex;
    flex-direction: column;
}

/* SECTION sezione dedicata al profilo dell'utente che ha effettuato l'accesso */
#myAccount {
    background-color: #e9eaed;
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    border-right: 1px solid #d5d5e2;
}

.myInfo,
.iconsProfile,
#notifiche,
#findChat > div,
#contactAccount > .contactInfo {
    display: flex;
    align-items: center;
}

.profilePhoto {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

/* SECTION sezione dedicata agli avvisi riguardanti le notifiche */
#notifiche {
    background-color: #99dafd;
    padding: 10.5px;
}

.ringIcon {
  background-color: #fff;
  padding: 15px 5px;
  border-radius: 50%;
  margin-right: 20px;  
}

.ringIcon > i {
    color: #99dafd;
}

/* SECTION sezione dedicata al filtraggio delle chat attraverso l'input */
#findChat {
    padding: 7px;
    background-color: #f1f2f8;
}

#findChat > div {
    border: 1px solid #e9eaed;
    border-radius: 5px;
}

.searchInput {
    width: 87%;
}

.searchInput > input {
    width: 100%;
    padding: 7px 5px;
    border: none;
    border: 1px solid #fff;
    border-radius: 0 5px 5px 0;
    outline: none;
}

.searchIcon {
    width: 13%;
    text-align: center;
    background-color: #fff;
    padding: 6.5px 0;
    border-right: 1px solid #e9eaed;
    border-radius: 5px 0 0 5px;
}

.searchIcon > .fa-magnifying-glass {
    font-size: initial;
}

/* SECTION sezione dedicata alle singole chat */
#chats {
    height: 100%;
}

#chats h4 {
    padding: 15px;
}

.singleContact {
    display: flex;
    padding: 7.3px;
    border-bottom: 1px solid #d5d5e2;
}

.singleContact:hover {
    cursor: pointer;
    background-color: #d5d5e2;
}

.contactInfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

.contactInfo p {
    margin-bottom: 5px;
}

/* contenitore di destra dove vengono mostrate le singole conversazioni */
#colDx {
    width: 65%;
    display: flex;
    flex-direction: column;
}

/* SECTION info contatto della chat aperta */
#contactAccount {
    background-color: #e9eaed;
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
}

/* SECTION corpo della conversazione (messaggi) */
#chatMessages {
    background-image: url('./../img/mine.jpg');
    height: 100%;
    padding: 30px 40px;
}

#chatMessages ul {
    display: flex;
    flex-direction: column;
}

.singleMessage {
    list-style-type: none;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
}

.textMessage {
    margin: 0 60px 0 15px;
    padding: 15px 0;
}

.timeMessage {
    margin: 0 5px 3px 0;
    align-self: flex-end;
    font-size: 0.7em;
}

.sent {
    background-color: #d8f8bf;
    align-self: flex-end;
}

.received {
    background-color: #fff;
    align-self: flex-start;
}

/* SECTION sezione per scrivere un nuovo messaggio */
#writeNewMessage {
    background-color: #f2eeed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border-bottom: 1px solid #d5d5e2; */
}

#writeNewMessage i {
    color: #6c7377;
}

.emojiIcon,
.microIcon {
    padding: 20px;
}

.newText,
.newText > input {
    width: 100%;
}

.newText > input {
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 4px;
}

